/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 0.875rem;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  font-family: Comic Sans MS; !important
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Sign-in styles
   Ref: https://getbootstrap.com/docs/4.0/examples/sign-in/
-------------------------------------------------- */
body.signin {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container,
body > .container-fluid {
  padding: 60px 15px 0;
}

.footer > .container,
.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

table.table-borderless td,
table.table-borderless th {
  border: none;
}

.hidden {
  display: none;
}

.text-multiline {
  white-space: pre-wrap;
}

.text-strong {
  font-weight: bold;
}

textarea {
  resize: none;
}

.dropdown-menu {
  font-size: unset;
}

/* Box shadow styles, adapted from:
   https://code.getmdl.io/1.3.0/material.indigo-pink.min.css
-------------------------------------------------- */
.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

.shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14),
              0 3px 3px -2px rgba(0, 0, 0, .2),
              0 1px 8px 0 rgba(0, 0, 0, .12);
}

.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
              0 1px 10px 0 rgba(0, 0, 0, .12),
              0 2px 4px -1px rgba(0, 0, 0, .2);
}

.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14),
              0 1px 18px 0 rgba(0, 0, 0, .12),
              0 3px 5px -1px rgba(0, 0, 0, .2);
}

.shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
              0 3px 14px 2px rgba(0, 0, 0, .12),
              0 5px 5px -3px rgba(0, 0, 0, .2);
}

.shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14),
              0 6px 30px 5px rgba(0, 0, 0, .12),
              0 8px 10px -5px rgba(0, 0, 0, .2);
}

.shadow-24dp {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14),
              0 11px 15px -7px rgba(0, 0, 0, .12),
              0 24px 38px 3px rgba(0, 0, 0, .2);
}

/* Bootstrap Corner Ribbon 45 degrees, adapted from:
   https://www.bootply.com/MarceloGuerra/bPVKmLn4Nj
-------------------------------------------------- */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border: 3px solid #79A70A;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ribbon span::after {
  content: '';
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border: 3px solid #79A70A;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.All span { background: linear-gradient(#2196F3 0%, #1565C0 100%); }
.Cleared span { background: linear-gradient(#2196F3 0%, #1565C0 100%); }
.HIV span { background: linear-gradient(#E53935 0%, #B71C1C 100%); }
.Hep span { background: linear-gradient(#E53935 0%, #B71C1C 100%); }

/* styling to grey out tanks which doesn't match search criteria */
.greyOut {background: linear-gradient(#BDBDBD 0%, #616161 100%); !important}
#greyOut {background: linear-gradient(#BDBDBD 0%, #616161 100%); !important}

/* Material Blue: 500 (#2196F3) / 800 (#1565C0) */
.blue span { background: linear-gradient(#2196F3 0%, #1565C0 100%); }
.blue span::before { border-left-color: #1565C0; border-top-color: #1565C0; }
.blue span::after { border-right-color: #1565C0; border-top-color: #1565C0; }

/* Material Blue Grey: 300 (#90A4AE) / 600 (#546E7A) */
.blue-grey span { background: linear-gradient(#90A4AE 0%, #546E7A 100%); }
.blue-grey span::before { border-left-color: #546E7A; border-top-color: #546E7A; }
.blue-grey span::after { border-right-color: #546E7A; border-top-color: #546E7A; }

/* Material Grey: 400 (#BDBDBD) / 700 (#616161) */
.grey span { background: linear-gradient(#BDBDBD 0%, #616161 100%); }
.grey span::before { border-left-color: #616161; border-top-color: #616161; }
.grey span::after { border-right-color: #616161; border-top-color: #616161; }

/* Material Red: 600 (#E53935) / 900 (#B71C1C) */
.red span { background: linear-gradient(#E53935 0%, #B71C1C 100%); }
.red span::before { border-left-color: #B71C1C; border-top-color: #B71C1C; }
.red span::after { border-right-color: #B71C1C; border-top-color: #B71C1C; }
.HEP span { background: linear-gradient(#E53935 0%, #B71C1C 100%); }


.sign-box {
  /* border: 1px solid #ced4da;
  height: 70px;
  width: 110px;
  margin: 3px 0 5px 0; */
  border: 1px solid #ced4da;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin: auto;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  -webkit-print-color-adjust: exact;
}

@media print {
  .no-print {
    display: none !important;
  }
  textarea, input, .sign-box {
    border: none;
  }
}

@page {
  size: auto;
}

.page-potrait {
  max-width: 595pt;
  margin: auto;
  font-family: Arial;
  position: relative;
}

.page-landscape {
  max-width: 842pt;
  margin: auto;
  font-family: Arial;
  position: relative;
}

label {
  margin-bottom: 0;
  font-weight: bold;
}

.form-check-label {
  font-weight: normal;
}
